{% extends "store/base.html" %}

{% block stylesheets %}
<style>
    /* Custom brand color styles */
    .text-brand {
        color: #b038a0 !important;
    }
    
    .btn-brand {
        background-color: #b038a0 !important;
        border-color: #b038a0 !important;
        color: white !important;
    }
    
    .btn-brand:hover {
        background-color: #9a3089 !important;
        border-color: #9a3089 !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="container my-4">
    <h4 class="display-6 mb-0 text-brand">Bulk Item Upload</h4>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="file" class="form-label">Upload Excel/CSV File</label>
            <input type="file" class="form-control" id="file" name="file" accept=".csv, .xlsx">
        </div>
        <button type="submit" class="btn btn-brand">Upload</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}